.voteArrow {
    display: inline-block;
    line-height: 1em;
    height: 17px;
    width: 20px;
}

.voteArrow:hover {
    position: relative;
    color: #607D8B;
    background-color: #DDD;
    left: .01em;
}